
/* 왼쪽 프로필 */ 

.profile_photo{
    display: flex;
    flex: 0.6;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-bottom: dashed 1px #b9b9b9;
}
 .profile_photo img {
 width: 180px;
}
.profile_text{
   flex: 0.5;
   font-size: 13px;
   padding: 15px;
   line-height: 1.8;
 }
 .profile_text_box{
     padding-top: 15px;
     border-top: dashed 1px #b9b9b9;
 }
 .profile_text .feeling{
     padding: 5px;
     border: 1.5px solid #b9b9b9;
     text-align: center;
 }
 .feeling p span{
     font-family: "DungGeunMo";
     font-size: 18px;
     color: #009AFF;  
 }
 .feeling .heart{
   display: inline-block;
   animation: heart 1.2s linear infinite;
 }
 @keyframes heart{
   100%{transform:rotateY(180deg);}
 }
 .profile_text h2{
     font-family: 'S-Core Dream 5';
     padding-top: 25px;
     font-weight: 500;
     font-size: 14px;
 }
 .profile_text > p{
     padding-top: 15px;
     font-weight: 500;
     font-size: 14px;
 }
.profile_info {
 display: flex;
 flex-direction: column;
 padding: 15px;
 flex: 0.3;
 font-size: 13px;
 text-align: left;
}
.user_info{
  padding-top: 13px;
   border-top: dashed 1px #b9b9b9;
   line-height: 2;
}
.user_info p span{
 font-family: "DungGeunMo";
   font-size: 20px;
   color: #009AFF;
}
/* 미니홈피 중간 내역  */
.minihompi_board{
  /* 중간 홈피 감싸는 부분  */
    flex-direction: column;
    display: flex; 
    overflow: hidden;
}
.minihompi_board h2{
  font-family: "DungGeunMo";
  letter-spacing: 3px;
    font-size: 30px;
    padding: 15px 0 0 20px;
    font-weight: bold;
    color: #009AFF;
    flex: 0.04;
}

/* 캐릭터  */
.character{
  position: absolute;
  width: 155px;
  height: 176px;
  bottom: -570px;
  animation: character 1.5s steps(3,start) infinite;
}
@keyframes character {
0% {background-position: 0 0; background-image:url(../images/left.png);}
50%{background-position: -465px 0; background-image:url(../images/left.png);}
100%{background-position: 0 0;background-image:url(../images/left.png);}
}
.walk{
position: relative;
left: 0px;
animation: character_walk 18s linear .5s infinite;
}
@keyframes character_walk {
  0% {left:0; z-index: 10;}  
  50%{left: 1000px; transform: scaleX(1);z-index: 10;}    
  50.0001%{left: 0px; transform: scaleX(-1); z-index: 10;}  
  100%{left: -1000px; transform: scaleX(-1); z-index: 10;}  
  }
  .content1::before{
    content: " ";
    display: inline-block;
    height: 100%;
    width: 100%;  
    background-image: url(../images/miniroom3.png);
  }
  .content1{
    background-repeat: no-repeat;
    flex: 1;
    background-image: url(../images/sky.png);
    background-repeat: repeat-x;
    margin: 10px 20px 50px 20px;
    animation: slide 35s linear infinite;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.363);
  }
  @keyframes slide {
    0%{background-position: 1000px;}
  }
  /* 컴퓨터  */
  .mockup1 >span{
    overflow: hidden;
    position: absolute;
    width: 156px;
    height: 89px;
    left: 533px;
    top: 463px;
    z-index: 1;
  }
  .mockup1 >span>img{
    position: absolute;
    width: 600px;
    display: block;
    animation: comong_up1 15s infinite;
  }
  @keyframes comong_up1 {
    0%{top: 0;}
    5%{top: 0;}
    50%{top: -253px;}
    60%{top: -253px;}
    95%{top: 0;}
    100%{top: 0;} 
  }
  /* 시계 */
  .clock{
    position: absolute;
    left: 405px;
    bottom: 223px;
    background-image: url(../images/clock.png);
    background-size: contain;
    width: 101px;
    height: 48.8px;
  }
  #time{
    font-family: "DungGeunMo";
    font-size: 30px;
    color: #fff;
    position: absolute;
    left: 17px;
    bottom: 7px;
  }
  .content1  iframe{
    border: none;
    border-radius: 15px;
    position: absolute;
    left: 120px;
    top: 100px;
  }
  .PhotoFrame{
    position: absolute;
    left: 600px;
    top: 300px;
    font-family: "DungGeunMo";
  }

  .PhotoFrame span:nth-of-type(1){
    position: absolute;
    left: -45px;
    top: -30px;
    transform: rotate(10deg);
    color: #ff4e74dc;
    background-color: #ffffff;
    font-size: 45px;
    padding: 0 10px;
    border: #ff4e74dc 10px solid;
    animation: wind 5.2s infinite;
  }
  .PhotoFrame span:nth-of-type(2){
    position: absolute;
    left: 25px;
    top: -60px;
    transform: skew(5deg) translateX(4px);
    color: #ffbb00e0;
    background-color: #ffffff;
    font-size: 45px;
    padding: 0 10px;
    border: #ffbb00e0 10px solid;
    animation: wind 6.6s infinite;
  }
  .PhotoFrame span:nth-of-type(3){
    position: absolute;
    left: 100px;
    top: -30px;
    transform: rotate(15deg);
    color: #01cc60d2;
    background-color: #ffffff;
    font-size: 45px;
    padding: 0 10px;
    border: #01cc60d2 10px solid;
    animation:wind 8.7s infinite;
  }
  .PhotoFrame span:nth-of-type(4){
    position: absolute;
    left: 165px;
    top: -60px;
    z-index: 1;
    transform: skew(5deg) translateX(4px);
    color: #f72d37e8;
    background-color: #ffffff;
    font-size: 45px;
    padding: 0 10px;
    border: #f72d37e8 10px solid;
    animation: wind 10s infinite;
  }
  .PhotoFrame span:nth-of-type(5){
    position: absolute;
    left: 240px;
    top: -40px;
    transform: rotate(-5deg);
    color: #2b6ddfc9;
    background-color: #ffffff;
    font-size: 45px;
    padding: 0 10px;
    border: #2b6ddfc9 10px solid;
    animation: wind 9.2s infinite;
  }
  @keyframes wind{
    0%,
    100% {transform: translateX(0%); transform-origin: 50% 50%;}
    15% {transform: translateX(-20px) rotate(6deg);}
    30% {transform: translateX(13px) rotate(-4deg);}
    45% {transform: translateX(-10px) rotate(3.6deg);}
    60% {transform: translateX(5px) rotate(-2.4deg);}
    75% {transform: translateX(-2px) rotate(1.2deg);}
  }
  .flower{
    width: 50px;
    position: absolute;
    right: 337px;
    top: 305px;
    animation: flower 5s linear infinite;
  }
  @keyframes flower {
    0%,100% {transform: rotate(10deg);transform-origin: bottom;}
    40%,50% {transform: rotate(-10deg);transform-origin: bottom;} }
  .hwabun{
    width:45px;
    position: absolute;
    right: 340px;
    top: 371px;
  }
  .juice{
    position: absolute;
    width: 60px;
    left: 740px;
    bottom: 228px;
  }
  .dotori1{
    z-index: 1;
    width: 40px;
    position: absolute;
    right: 240px;
    bottom: 150px;
    transform: rotate(30deg);
    transition: 300ms linear 0s;
  }
  .dotori1:hover{
    transform: scale(1.1) rotate(-30deg);
  }
  .dotorl_box{
    display: none;
  }
  .dotori1_txt{
    z-index: 1;
    position: absolute;
    right: 200px;
    font-family: "DungGeunMo";
    font-size: 20px;
    bottom: 235px;
  }
  .textbox{
    position: absolute;
    right: 180px;
    bottom: 200px;
    width: 100px;
  }
  .dotori2{
    z-index: 1;
    width: 40px;
    position: absolute;
    right: 450px;
    bottom: 150px;
    transform: rotate(30deg);
    transition: 300ms linear 0s;
  }

  .dotori1_txt2{
    display: none;
    position: absolute;
    right: 310px;
    bottom: 185px;
    width: 120px;
    border-radius: 30px;
    border: 5px solid rgb(255, 255, 255);
    transition: 300ms linear 0s;
  }  

  .table{
    position: absolute;
    left: 450px;
    bottom: 95px;
    width: 500px;
  }

/* 탭메뉴  */
.menu_list a:nth-of-type(1){
  background-color: #fff;
  color: #000;
}


